# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Training artifacts
experiments/
final_model/

# Virtual environments
venv/
.env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data
data/
